<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="assest/css/register.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
  <div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="d-flex align-items-center"><a class="navbar-brand" href="#">Password Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      </div>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/register"><i class="bi bi-person"></i> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>

<div class="cover-container w-100 h-100 mx-auto flex-column text-center m-5 p-5">
  <h1>SAVE YOUR PASSWORDS</h1>
  <p class="lead">Password managers are indispensable tools for both individuals and organizations due to their pivotal role in enhancing cybersecurity and simplifying password management. They are crucial because they generate and store strong, unique passwords for every account, reducing the risk of unauthorized access and thwarting common password-related security threats. By encouraging password complexity and eliminating the practice of password reuse, password managers significantly bolster online security. Moreover, they offer the convenience of auto-filling login credentials, centralizing password storage, and facilitating password updates.
  </p>
  <p class="lead">
    <a href="/generater" class="btn btn-lg btn-light fw-bold border-white bg-white">Generate Password</a>
  </p>
  
</div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>